

.jumbotron{
    padding-top: 6rem;
    background-color: #f3f4f5;
}

#projects {
    background-color: #F3F4F5;
    text-align: center;

}

section {
    padding-top: 5rem;
}

.gallery-img {
    width: 100%;
}

/* mengatur padding yang ada didalam row */
/* atur semua padding apapun yang ada didalamnya setelah tag row  */

#gallery .row > * {
    padding: 0;
}